<!DOCTYPE html>
<html lang="en">
    <head>
        {% set vars = getVariables('help') %}
       
        {% include 'start_html.html.twig' %}
        <link rel="stylesheet" href="/css/help.css">
        <script src="/js/help-text.js" defer></script>
    </head>   
<body>

{% include 'nawigation.html.twig' %}
<div>
  <div class="class-begin-book">
    {% for i in 1..vars.number_text_all %}
      <div class="Help-Text" id="Help-Text-{{i}}">
          {{vars.title_text[i]}}
        </div>
    {% if i == vars.number_text_all %}
          <div class="Help-Text-display" id="{{i}}">
           <a href="https://instagram.com/miroslaw_mitka?igshid=YmMyMTA2M2Y="><img src="/icons/instagram.svg" style="width:50px; height:50px;"></a>
            {% autoescape false %}  {{vars.text_all[i]}} {{vars.contact_1}} {%endautoescape%}
             <br/>
              <a href="https://www.linkedin.com/in/Miroslaw--Mitka/"><img src="/icons/linkedin.svg" style="width:50px; height:50px;"></a>
              {% autoescape false %}  {{vars.text_all[i]}}  {{vars.contact_2}}  {%endautoescape%}
          </div>
    {% else %}
            <div class="Help-Text-display" id="{{i}}">
              {% autoescape false %}  {{vars.text_all[i]}}  {%endautoescape%}
            </div>
    {% endif %}
    {% endfor %}
  </div>
  <div id="help-text" data-type1="" data-type2="{{vars.number_text_all}}"></div>
  {% set cookies = getVariables('cookies') %}
  <div id="information-cookies" data-type="{{cookies.cooki_1}}" data-type2="{{cookies.cooki_2}}" data-type3="{{cookies.cooki_3}}" data-type4="{{cookies.cooki_4}}"></div>
</div>

{% include 'footer.html.twig' %}

</body>
</html>